<div class="container-fluid mt-5">
    <footer class="py-5">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Company@VOITECH Tous droits reservés.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
  <header>
    <div class="px-3 py-2 text-bg-dark">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary" [routerLink]="['/home']">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" ></svg>
                <h5> Accueil</h5>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-secondary" [routerLink]="['/dashboard']">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
               <h5> Dashboard </h5>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-secondary" [routerLink]="['/voiture']" >
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                <h5>  Voiture </h5>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                <h5> Employe  </h5>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-secondary" [routerLink]="['/pageclient']">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                <h5>  Client  </h5>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
