<br>
<br>
<br>
<div class="container d-flex mt-5">
<div class="col-md-4 mb-3">
    <h4 style="text-align: center; color:#DAA520">Puissance 5</h4>
<img
  src="../../assets/images/vehicule.jpg"
  class="img-fluid rounded-pill"
  alt="" width="300px" height="300px"
/>
</div>
<div class="col-md-4 mb-3">
    <h4 style="text-align: center; color:#BC8F8F">Puissance 3</h4>
<img
src="../../assets/images/car.webp"
  class="img-fluid rounded-circle"
  alt="" width="300px" height="300px"
/>
</div>
<div class="col-md-4 mb-3">
  <h4 style="text-align: center; color:#8b0404">Puissance 4</h4>
<img
src="../../assets/images/car.jpg"
  class="img-fluid rounded-pill"
  alt="" width="300px" height="300px"
/>
</div>
</div>