<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://img.freepik.com/vecteurs-libre/illustration-concept-location-voiture_114360-9267.jpg?size=626&ext=jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">ESPACE D'AUTHENTIFICATION</h3>
  
              <form class="px-md-2">
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" placeholder="Entrer votre e-mail" />
                  <label class="form-label" for="form3Example1q">Email</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" type="password" placeholder="Entrer votre mot de passe" />
                    <label class="form-label" for="form3Example1q">Password</label>
                </div>
                <button type="submit" class="btn btn-success btn-lg mb-1" [routerLink]="'/home'"  >Valider</button>
  
              </form>
            
               <div class="forget">
                <h6>Vous n'avez pas de compte <a [routerLink]="'/login'"  >cliquez ici</a>
            </h6>
               </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
