<input type="checkbox" id="menu-toggle">
<div class="sidebar">
    <div class="side-header">
        <h3><span style="color: coral;">VOITECH</span></h3>
    </div>
    
    <div class="side-content">
        <div class="profile">
            <div class="profile-img bg-img" style="background-image: url(../../assets/images/homme.jpg)"></div>
            <h4>Laurent Paul</h4>
            <small>Directeur de VOITECH</small>
        </div>

        <div class="side-menu">
            <ul>
                <li>
                   <a href="" class="active">
                        <span style="color:khaki" ><i class="bi bi-house"></i></span>
                        <small class="Dashboardtext" >Dashboard</small>
                    </a>
                </li>
                <li>
                   <a href="#" [routerLink]="['/pageclient']" >
                        <span style="color:brown"><i class="bi bi-person-circle"></i></span>
                        <small>Client</small>
                    </a>
                </li>
                <li>
                   <a href="" [routerLink]="['/voiture']">
                        <span style="color:brown"><i class="bi bi-car-front"></i></span>
                        <small>Voiture</small>
                    </a>
                </li>
                <li>
                   <a href="">
                        <span style="color:brown" ><i class="bi bi-person-workspace"></i></span>
                        <small>Employee</small>
                    </a>
                </li>
                <li>
                   <a href="">
                        <span style="color:brown" ><i class="bi bi-alarm"></i> </span>
                        <small>Location</small>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    
    <header>
        <div class="header-content">
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            
            <div class="header-menu">
                <label for="">
                    <span class="las la-search"></span>
                </label>
                
                <div class="notify-icon">
                    <span class="las la-envelope"></span>
                    <span class="notify">4</span>
                </div>
                
                <div class="notify-icon">
                    <span class="las la-bell"></span>
                    <span class="notify">3</span>
                </div>
                
                <div class="user">
                    <!-- <div class="bg-img" style="background-image: url(https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g)"></div> -->
                    <div class="profile-img bg-img" style="background-image: url(../../assets/images/homme.jpg)"></div>
                    
                    <span style="color:brown" > <i class="bi bi-power"></i></span>
                    <span class="decon">Déconnexion</span>
                </div>
            </div>
        </div>
    </header>
    
    
    <main>
        
        <div class="page-header">
            <h1>Dashboard</h1>
            <small>Home / Dashboard</small>
        </div>
        
        <div class="page-content">
        
            <div class="analytics">

                <div class="card">
                    <div class="card-head">
                        <h2>107.200 FCFA</h2>
                        <span style="color: brown;" ><i class="bi bi-coin"></i></span>

                    </div>
                    <div class="card-progress">
                        <small>Location vehicule un mois</small>
                        <div class="card-indicator">
                            <div class="indicator one" style="width: 60%"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-head">
                        <h2>340.230 FCFA</h2>
                        <span style="color: brown;" ><i class="bi bi-coin"></i></span>
                    </div>
                    <div class="card-progress">
                        <small>Location vehicule plus deux mois</small>
                        <div class="card-indicator">
                            <div class="indicator two" style="width: 80%"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-head">
                        <h2>653.200 FCFA</h2>
                        <span style="color: brown;" ><i class="bi bi-coin"></i></span>
                    </div>
                    <div class="card-progress">
                        <small>Location vehicule plus de six mois</small>
                        <div class="card-indicator">
                            <div class="indicator three" style="width: 65%"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-head">
                        <h2>1.306.400 FCFA</h2>
                        <span style="color: brown;" ><i class="bi bi-envelope"></i></span>
                    </div>
                    <div class="card-progress">
                        <small>Location vehicule d'un ans</small>
                        <div class="card-indicator">
                            <div class="indicator four" style="width: 90%"></div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="records table-responsive">

                <div class="record-header">
                    <div class="add">
                        <span>Entries</span>
                        <select name="" id="">
                            <option value="">ID</option><option>5033</option><option>433</option><option>655</option>
                        </select>
                        <button>Add record</button>
                    </div>

                    <div class="browse">
                       <input type="search" placeholder="Search" class="record-search">
                        <select name="" id="">
                            <option value="">Status</option><option>Abonné</option><option>Particulier</option>
                        </select>
                    </div>
                </div>

                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><span class="las la-sort"></span> CLIENT</th>
                                <th><span class="las la-sort"></span> MONTANT</th>
                                <th><span class="las la-sort"></span> DATE DEBUT</th>
                                <th><span class="las la-sort"></span> DATE FIN</th>
                                <th><span class="las la-sort"></span> ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#5033</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g)"></div>
                                        <div class="client-info">
                                            <h4>David</h4>
                                            <small>david@david.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    107.200 FCFA
                                </td>
                                <td>
                                   26 April, 2023
                                </td>
                                <td>
                                    26 May, 2023
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                        <button type="button" class="btn btn-outline-dark">supprimer</button>
                                     
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#433</td>
                                <td>
                                    <div class="client">
                                       <div class="client-img bg-img" style="background-image: url(https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g)"></div>
                                        <div class="client-info">
                                            <h4>Sordi</h4>
                                            <small>sordi@sordi.org</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    340.230 FCFA
                                </td>
                                <td>
                                    15 April, 2022
                                </td>
                                <td>
                                    15 June, 2023
                                </td>
                                <td>
                                    <div class="actions">
                                        <span class="lab la-telegram-plane"></span>
                                        <span class="las la-eye"></span>
                                        <span class="las la-ellipsis-v"></span>
                                        <button type="button" class="btn btn-outline-dark">supprimer</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        
        </div>
        
    </main> 
</div>

