<div class="container-fliud">
    <app-navbar></app-navbar>
    </div>
    <br>
    <br> 
    <br>
 
    <div class="container mt-5">
    <form method="post">
    <div class="container ">
        <div class="row">
        <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-6">
           <label for="exampleFormControlInput1" class="form-label">  Immatriculation <span style="color:brown">*</span></label>
           <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" Entrer l'immatriculation du véhicule">
        </div>
        <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">Marque<span style="color:brown">*</span></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Veuillez saisir la marque du véhicule"> 
       </div>
       </div>
        <div class="row">
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label">Série <span style="color:brown">*</span></label>
              <input name="text" class="form-control" id="exampleFormControlInput1" placeholder="Entrer la série du véhicule"/>  
            </div>
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label">couleur <span style="color:brown">*</span></label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Quelle est la couleur du véhicule ?">
            </div>
              
          </div>
          <div class="row">
            <div class="col-6"> 
              <label for="exampleFormControlInput1" class="form-label"> Nombre de place <span style="color:brown">*</span></label>
               <input type="number" class="form-control" id="exampleFormControlInput1 " placeholder="saisissez le nombre de place">
               </div> 
              <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">disponibilité <span style="color:brown">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Le véhicule est-il disponible?"> 
              </div> 
          </div>
        <div class="row mt-2">    
        <div class="col-12 mb-5">
         <label for="formFileLg" class="form-label">Photo véhicule <span style="color:brown">*</span></label>
         <input class="form-control form-control-lg" id="formFileLg" type="file">    
          <label for="formFileLg"><span style="color:brown"> Renseignez le fichier JPEG, PDF,JPG </span></label>
        </div>
        </div>
    </div>
    <div class="button1">
      <button type="button" class="btn btn-success mx-2 ">Envoyer</button>
      <input type="reset" class="btn btn-warning">
    </div>
    
    </form>
     
    </div>  
    <div class="container-fliud mt-5">
        <app-footer></app-footer>
    </div>
