<!-- <header>
  </header> -->
  <main>
    
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/arp.webp" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/bellevoiture.avif" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/caro.avif" class="d-block w-100 h-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="../../assets/images/homme.jpg" class="rounded-circle" width="40%" height="40%" alt="">
          <h2 class="fw-normal">M.Laurent Paul</h2>
          <p>Directeur Général en poste de <span style="color:goldenrod">VOITECH</span>. En charge du projet de renovation et de vente, d'achat des nouveaux produits.</p>
          <p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Lire suite... &raquo;</button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../../assets/images/homme3.jpg" class="rounded-circle" width="40%" height="40%" alt="">
          <h2 class="fw-normal">M.Kouakou Francis</h2>
          <p>Directeur-ajoint en poste de <span style="color:goldenrod">VOITECH</span>. chargé du bon fonctionnement des activités de l'entreprise</p>
          <p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">Lire suite... &raquo;</button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../../assets/images/homme2.jpg" class="rounded-circle" width="40%" height="40%" alt="">
          <h2 class="fw-normal">M.Loizovol Stephane</h2>
          <p>Secretaire financier en poste de <span style="color:goldenrod">VOITECH</span>. Chargé du service de control des activités comptables et d'investissement</p>
          <p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">Lire suite... &raquo;</button></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              M.Laurent Paul, Directeur général de VOITECH
              pour le développement de l'entreprise (VOITECH) a
              derrière lui une longue carrière de décideur économique
              et financier de premier plan. En tant que Vice-­‐Ministre des
              finances et membre du Comité de politique monétaire de
              la Banque centrale pendant une décennie, M. Laurent a
              grandement contribué à définir et à harmoniser les
              Achats,Ventes qui ont
              porté une croissance économique saine en CI. Il s’est
              résolument engagé en faveur de la réforme du secteur
              financier, poussant de grandes institutions financières à
              instaurer une gouvernance d’entreprise, à régler la
              question des actifs toxiques et à renforcer la gestion des
              risques. 
            </div>
             
          </div>
        </div>
      </div>

      
      <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Né en 1962, M.Kouakou Francis mène depuis trente ans une réflexion sur les images filmées et dessinées, qui l’a conduit à enseigner l’histoire du cinéma à l’Université de Paris X Nanterre et l’esthétique de la bande dessinée à l’Université de Paris I Panthéon-Sorbonne, à présider la Maison des Auteurs et à siéger comme expert dans diverses commissions du Centre national du cinéma et juré dans de nombreux festivals. Il a également dirigé plusieurs livres, collaboré à une quarantaine d’ouvrages et de nombreuses publications critiques ou historiques, et assuré le commissariat d’une vingtaine d’expositions.

              En 1983 il crée la Bibliothèque du cinéma à Paris qu’il dirige jusqu’en 1991, quand il rejoint la Bibliothèque Nationale de France en construction comme chef de projet au Département de l’audiovisuel. Après une mission auprès du Forum des Images, il intègre en 1995 le groupe MK2 en tant que directeur de la communication puis directeur général adjoint, avant de produire des films chinois et éditer des DVD chez Paradis Films, dont il est directeur du développement de 1999 à 2006. Il a rejoint VOITECH dont il est le directeur Ajoint.
            </div>
             
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              M.Loizovol Stephane cumule plus de seize (16) années d’expériences professionnelles dans le secteur financier en Afrique l’Ouest. Il a assumé des responsabilités de cadre dirigeant dans plusieurs organisations dont les plus importantes sont :

             le Secrétariat Général du CREPMF successivement en tant qu’ Inspecteur chargé de la surveillance du marché, Chargé de la Direction des Opérations Financières et de la Réglementation puis Directeur des Emetteurs depuis dix (10) ans. Ses principales attributions dans son dernier poste ont trait à (i) l’instruction de l’ensemble des opérations de levée de ressources sur le marché financier au profit des Etats, des institutions financières internationales et des entreprises publiques ou privées ; (ii) à la conduite d’études structurantes et de projets de développement du marché ; (iii) à la gestion de la coopération avec les autres régulateurs en Afrique, en Europe et en Asie, ainsi que les partenaires au développement (Banque Mondiale, FMI, etc.) ;
             le cabinet MAZARS Bénin, en tant que Chef de mission senior, il a conduit, supervisé ou dirigé, entre 2003 et 2007, plus de 50 missions de conseils, d’audit, de restructuration d’entreprises dans différents secteurs (industrie cotonnière, assurances, banques, aéronautique, projets de développement, etc.)
            </div>
             
          </div>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
         <img src="../../assets/images/beau1.avif" class="rounded-pill" alt="">
           
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
         <img src="../../assets/images/beau.avif" alt="">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
         <img src="../../assets/images/beau2.jpg" class="rounded-pill" alt="">
          
        </div>
      </div>
  
       
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  </main>
  
